[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "clojure-mode"]
	path = clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "elein"]
	path = elein
	url = https://github.com/remvee/elein.git
[submodule "gist.el"]
	path = gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "io-mode"]
	path = io-mode
	url = https://github.com/superbobry/io-mode.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "slime-2010-05-19"]
	path = slime-2010-05-19
	url = https://github.com/nablaone/slime
[submodule "swank-clojure"]
	path = swank-clojure
	url = https://github.com/technomancy/swank-clojure.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "sparql-mode"]
	path = sparql-mode
	url = https://github.com/ljos/sparql-mode.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
[submodule "align-cljlet"]
	path = align-cljlet
	url = https://github.com/gstamp/align-cljlet.git
[submodule "nrepl.el"]
	path = nrepl.el
	url = https://github.com/kingtim/nrepl.el.git
[submodule "smex"]
	path = smex
	url = https://github.com/nonsequitur/smex.git
[submodule "twittering-mode"]
	path = twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "expand-region"]
	path = expand-region
	url = https://github.com/emacsmirror/expand-region.git
[submodule "midje-mode"]
	path = midje-mode
	url = https://github.com/dnaumov/midje-mode.git
[submodule "popup-el"]
	path = popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "command-log-mode"]
	path = command-log-mode
	url = https://github.com/lewang/command-log-mode.git
[submodule "undo-tree"]
	path = undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "evil"]
	path = evil
	url = git://gitorious.org/evil/evil.git
[submodule "mmm-mode"]
	path = mmm-mode
	url = https://github.com/purcell/mmm-mode
[submodule "floobits"]
	path = floobits
	url = https://github.com/Floobits/floobits-emacs.git
[submodule "cl-lib"]
	path = cl-lib
	url = https://github.com/emacsmirror/cl-lib.git
[submodule "haml-mode"]
	path = haml-mode
	url = https://github.com/nex3/haml-mode
